@model ProductEntity;


<a asp-controller="products" asp-action="details" asp-route-productId="@Model.Id" class="items">
    <img src="@Model.ImageUrl" alt="">
    <div class="textbody">
        <div class="infotext">@Model.Title</div>
        <div class="info">
            <div class="price">@Model.Price</div>
            <div class="description">@Model.Description</div>
            <i class="fa-regular fa-cart-plus"></i>
        </div>
        <div class="line">
            <hr>
        </div>
    </div>
</a>